*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 25px 20px 26px;
    background: #F15B22;
    border-radius: 5px;
    border: 0;
}

.btn-seceondary{
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 25px 20px 26px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
    text-align: center;
    width: 50%;
}

/* Banner Section Styles */

header{
    background-image: url(../images/banner/banner1.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner{
    text-align: right;
    padding: 216px 230px 70px 1070px;
}

.banner-motto{
    color: #151414;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 30px;
}

.banner-description{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 40px;
}

/* Styles for Previous Year Section */

.past-year-section{
    display: flex;
}

.section-left{
    padding-left: 200px;
    padding-top: 130px;
}

.section-right{
    padding: 370px 350px 120px 170px;
}

.section-title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Work Sans';
    margin-bottom: 30px;
}

.section-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.section-description li{
    list-style-position: inside;
    list-style-image: url(/images/icons/tick\ marks.png);
}

/* Future Plan Section */

.plan-container{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 70px;
    margin-bottom: 150px;
    gap:87px;
    
}

.plan{
    padding-top: 50px;
    text-align: center;
}

.plan-title{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

.plan-description{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

/* Footer Banner Container Section Styles */

.footer-banner-container{
    background-image: url(/images/watch.png);
    height: 30vh;
    width:100%;
    position:relative;
    background-repeat: no-repeat;
    margin-bottom: 75px;
    display: flex;
    justify-content: left;
}

.footer-banner-title{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
}

.color-overlay{
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(/images/gradient3.png);
    height: 30vh;
    width: 1024px;
    opacity: 0.4;
    position: absolute;
}

/* Footer section styles */

.footer-section{
    display: flex;
    background-color: #151414;
    padding: 130px 230px;
    color: #F8F8F8;
    gap: 330px;
}

.footer-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
}

.footer-description, .personal-info{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    padding-right: 400px;
    margin-bottom: 20px;
}

.subcription{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.footer-section input[type="email"]{
    margin-bottom: 24px;
    border-radius: 10px;
    font-size: 17px;
    border-color: #F8F8F8;
    width: 100%;
    padding: 30px 18px;
    background-color: #151414;

}

.contact a{
    text-decoration: none;
    padding: 24px;
}
